@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iran";
  src: url("/fonts/Iran.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html{
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Iran";
  background-color: #000000;
  /* background-color: #0e3142; */
  direction: rtl;
  position: relative;
  height: 100vh;
  /* overflow: scroll; */
}

img {
  aspect-ratio: 1/1;
}

/* box */
.circle {
  border-radius: 50%;
  background-color: #64edff;
  background: radial-gradient(farthest-side at 60% 80%, #64ffc1, transparent);
  box-shadow: 0 0 150px 180px #c508b8;
  position: fixed;
  opacity: 0.5;
  z-index: -1;
}
.circle_1 {
  width: 690px;
  height: 690px;
  /* box-shadow: 0 0 150px 180px #c508b8; */
  top: -509px;
  right: -660px;
}

.circle_2 {
  width: 690px;
  height: 690px;
  bottom: -659px;
  left: -620px;
}

.left-shadow {
  box-shadow: 0px 0rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.font-title {
  font-size: calc(10px + 2vw);
  font-weight: bold;
}
.title {
  min-width: 194px;
}

.google-play-gradinet {
  background: linear-gradient(
    90deg,
    rgba(8, 240, 23, 1) 0%,
    rgba(0, 1, 255, 1) 34%,
    rgba(255, 218, 0, 1) 64%,
    rgba(255, 0, 0, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  opacity: 0;
  transition: 1s;
  transform: translateX(20px);
}

.box.active{
  opacity: 1;
  transform: translateX(0px);
}

